In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Insurance Dataset.csv')
df.head()

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1

In [3]:
##NULL VALUES

In [4]:
df.isnull().sum()

Area_Service                             2456
Hospital County                          2456
Hospital Id                              2456
Age                                         0
Gender                                      0
Cultural_group                              0
ethnicity                                   0
Days_spend_hsptl                            0
Admission_type                              0
Home or self care,                          0
ccs_diagnosis_code                          0
ccs_procedure_code                          0
apr_drg_description                         0
Code_illness                                0
Mortality risk                             42
Surg_Description                            0
Weight_baby                                 0
Abortion                                    0
Emergency dept_yes/No                       0
Tot_charg                                   0
Tot_cost                                    0
ratio_of_total_costs_to_total_charges       0
Result                                      0
Payment_Typology                            0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.shape

(1046077, 24)

In [7]:
df.drop(columns=['Hospital Id'],axis=1, inplace=True)

In [8]:
df.head(2)

,Area_Service,Hospital County,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",ccs_diagnosis_code,...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,122,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,197,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1

In [9]:
df.duplicated().sum()

4814

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.shape

(1041263, 23)

In [12]:
print('Gender: ', df['Gender'].value_counts())

Gender:  F    588583
M    452653
U        27
Name: Gender, dtype: int64

In [13]:
print('Cultural group: ', df['Cultural_group'].value_counts())

Cultural group:  White                     777034
Black/African American    134125
Other Race                126454
Unknown                     3650
Name: Cultural_group, dtype: int64

In [14]:
print('Ethinicity: ', df['ethnicity'].value_counts())

Ethinicity:  Not Span/Hispanic    904864
Spanish/Hispanic      86918
Unknown               49481
Name: ethnicity, dtype: int64

In [15]:
print('Admission Type: ', df['Admission_type'].value_counts())

Admission Type:  Emergency        606383
Elective         235120
Urgent           109946
Newborn           86542
Trauma             2256
Not Available      1016
Name: Admission_type, dtype: int64

In [16]:
df.drop(df.loc[df['Gender']=='U'].index, inplace=True)
df.drop(df.loc[df['Cultural_group']=='Unknown'].index, inplace=True)
df.drop(df.loc[df['ethnicity']=='Unknown'].index, inplace=True)
df.drop(df.loc[df['Admission_type']=='Not Available'].index, inplace=True)

In [17]:
df.shape

(990492, 23)

In [18]:
df.duplicated().sum()

0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990492 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Area_Service                           990492 non-null  object
 1   Hospital County                        990492 non-null  object
 2   Age                                    990492 non-null  object
 3   Gender                                 990492 non-null  object
 4   Cultural_group                         990492 non-null  object
 5   ethnicity                              990492 non-null  object
 6   Days_spend_hsptl                       990492 non-null  object
 7   Admission_type                         990492 non-null  object
 8   Home or self care,                     990492 non-null  object
 9   ccs_diagnosis_code                     990492 non-null  int64
 10  ccs_procedure_code                     990492 non-null  int64
 11  apr_drg_description                    990492 non-null  object
 12  Code_illness                           990492 non-null  int64
 13  Mortality risk                         990492 non-null  float64
 14  Surg_Description                       990492 non-null  object
 15  Weight_baby                            990492 non-null  int64
 16  Abortion                               990492 non-null  object
 17  Emergency dept_yes/No                  990492 non-null  object
 18  Tot_charg                              990492 non-null  float64
 19  Tot_cost                               990492 non-null  float64
 20  ratio_of_total_costs_to_total_charges  990492 non-null  float64
 21  Result                                 990492 non-null  int64
 22  Payment_Typology                       990492 non-null  int64
dtypes: float64(4), int64(6), object(13)
memory usage: 181.4+ MB

In [20]:
df.drop(columns=['Hospital County','Days_spend_hsptl','apr_drg_description','ccs_diagnosis_code',
                 'Tot_cost','Abortion'], axis=1, inplace=True)

In [21]:
df.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,"Home or self care,",ccs_procedure_code,Code_illness,Mortality risk,Surg_Description,Weight_baby,Emergency dept_yes/No,Tot_charg,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,30 to 49,F,White,Not Span/Hispanic,Elective,Home or Self Care,0,1,1.0,Medical,0,Y,5511.95,1.012798,1,1
1,Western NY,70 or Older,F,White,Not Span/Hispanic,Urgent,Short-term Hospital,0,3,2.0,Medical,0,Y,4783.20,1.079365,1,1
2,Western NY,30 to 49,F,White,Not Span/Hispanic,Urgent,Home or Self Care,0,1,1.0,Medical,0,Y,3829.15,1.059379,1,1
3,Western NY,0 to 17,F,White,Not Span/Hispanic,Urgent,Home or Self Care,0,1,1.0,Medical,0,Y,1108.20,1.484167,0,1
4,Western NY,70 or Older,F,White,Not Span/Hispanic,Elective,Home or Self Care,0,2,3.0,Medical,0,Y,3418.18,0.986161,1,1

In [22]:
df.rename(columns = {'Home or self care,':'Home_or_Selfcare',
                       'Mortality risk':'Mortality_risk','Emergency dept_yes/No':'Emergency_dept_yes_No'}, inplace = True)

In [23]:
df.head()

,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,Home_or_Selfcare,ccs_procedure_code,Code_illness,Mortality_risk,Surg_Description,Weight_baby,Emergency_dept_yes_No,Tot_charg,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,30 to 49,F,White,Not Span/Hispanic,Elective,Home or Self Care,0,1,1.0,Medical,0,Y,5511.95,1.012798,1,1
1,Western NY,70 or Older,F,White,Not Span/Hispanic,Urgent,Short-term Hospital,0,3,2.0,Medical,0,Y,4783.20,1.079365,1,1
2,Western NY,30 to 49,F,White,Not Span/Hispanic,Urgent,Home or Self Care,0,1,1.0,Medical,0,Y,3829.15,1.059379,1,1
3,Western NY,0 to 17,F,White,Not Span/Hispanic,Urgent,Home or Self Care,0,1,1.0,Medical,0,Y,1108.20,1.484167,0,1
4,Western NY,70 or Older,F,White,Not Span/Hispanic,Elective,Home or Self Care,0,2,3.0,Medical,0,Y,3418.18,0.986161,1,1

In [24]:
df.to_csv('cleaned_for_pipeline.csv')